* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", serif;
}

header {
    padding: 29px 0;
    background-color: #182c61;
    color: #ecf0f1;
}

header h1 {
    font-size: 32;
    font-weight: normal;
}

header,
section h2 {
    font-family: "Bungee", cursive;
}

header nav li {
    display: inline;
    margin-left: 8px;
    color: #ecf0f1;
    font-size: 24px;
}

header nav li a {
    color: #ecf0f1;
    text-decoration: none;
    font-size: 19px;
}

body > header .container,
section .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    max-width: 1288px;
    width: 90%;
    margin: 0 auto;
}

.brands img {
    height: 24px;
    margin-top: 20px;
}

.brands li {
    display: inline;
    margin-right: 9px;
}

section .container {
    align-items: flex-start;
}

section {
    padding: 24px 0;
    color:#182c61;
}

section h2 {
    margin-bottom: 16px;
    font-weight: normal;
}

section p {
    margin-bottom: 8px;
}

section #imgLoja{
    margin-right: 40px;
}

#links-social img {
    height: 22px;
}

#links-social {
    margin-left: 12px;
}

#links-social li {
    display: inline; 
    margin-right: 8px;
}

#links-social li a {
    text-decoration: none;
        list-style: none;
}

#contact .container {
    display: block;
}

#contact .contact-methods {
    display: flex;
    justify-content: space-between;
}

.contact-methods div#faleConosco input,
form textarea,
form button {
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}

form textarea {
    resize: none;
    height: 110px;
    font-family: "Roboto", serif;
}

.contact-methods h3 {
    font-family: "Bungee", cursive;
    font-weight: normal;
    margin-bottom: 16px;
}

#faleConosco form button {
    background-color: #182c61;
    color: #ecf0f1;
    font-family: "Bungee", serif;
    padding: 16px;
    border: none;
}

#faleConosco form button:hover {
    background-color: #2f4fa9;
    cursor: pointer;
}

#faleConosco form input:hover, #faleConosco form textarea:hover {
    border: 2px solid #ecf0f1;
}


#faleConosco input {
    border: 2px solid white;
    border-bottom: 2px solid #ecf0f1;
    outline: none;
}

#faleConosco textarea {
    border: 2px solid white;
}


input:focus, textarea:focus {
    outline-color: #182c61;
}

footer {
    background-color: #182c61;
    color: #ecf0f1;
    padding: 16px;
}

#about-us p::first-letter {
    margin-left: 25px;
}

#about-us p {
    text-align: justify;
}